
#holder {
    /*border: solid 1px #000;*/
    width: 320px;
    margin-left: 100px;
    margin-right: auto;
}

#wheelinfo {
    margin-top: 20px;
    height: 40px;
    width: 400px;
    margin-left: 100px;
    margin-right: auto;
    text-align: center;
}

#chars_outer, #chars_inner {
    width: 650px;
    margin-left: 20px;
    margin-right: auto;
}

.result_correct {
    background-color: #C9FFC7;
}

.result_incorrect {
    background-color: #F7999E;
}