
#holder {
    border: solid 1px #000;
    width: 400px;
    margin-left: 100px;
    margin-right: auto;
}

#tabula_recta {
    font-family: Lucidatypewriter, monospace;
    font-size: 12px;
}


.h_row {
    background-color: #96FFD2 !important; 
}

.h_column {
    background-color: #BABCFF !important;
}

.h_is {
    background-color: #00FF00 !important;
} 

/* table cells */
div#tabula_recta div div {
    /*border: red 1px dashed;*/
    text-align: center;
    display: inline-block;
    width: 16px;
    transition: all 0.5s ease;    
}

  