
#tabula_recta {
    font-family: Lucidatypewriter, monospace;
    font-size: 12px;
    min-width: 440px;
}

#tabula_header {
    padding: 0px;
}

#tabula_outer {
    /*margin-left: 10px;*/
}

.h_row {
    background-color: #96FFD2 !important; 
}

.h_column {
    background-color: #BABCFF !important;
}

.h_is {
    background-color: #00FF00 !important;
} 

/* table cells */
#tabula_recta div div {
    /*border: red 1px dashed;*/
    text-align: center;
    display: inline-block;
    width: 15px;
    transition: all 0.5s ease;    
}

.tc_0.tr_0 {
    border: none;
}

.tc_0, .tr_0 {
    font-weight: bold;
}

.tc_0 {
    border-right: black 1px solid;
    cursor: e-resize;
}

.tr_0 {
    border-bottom: black 1px solid;
    cursor: s-resize;
}

.arrow-large {
    font-size: 40px;
}

.text-label {
    width: 80px;
    padding: 0px;
}
  
.text-group {
    width: 100%;
}

.text-edit {
    font-family: Lucidatypewriter, monospace;
    font-size: 20px;
}

.text-text {
    font-family: Lucidatypewriter, monospace;
    font-size: 20px;
    height: 28px;
    background-color: white;   
}

.input-group {
    margin: 10px;
}

#col-header {
    text-align: center;
    letter-spacing: 8px;
    color: #413AFC;
}

#row-header {
    margin: 0px;
    margin-top: 160px;
    margin-right: 8px;
    width: 14px;
    height: 100%;
    padding: 0px;
    text-align: center;
    color: #148500;
}