
#holder {
    border: solid 1px #000;
    width: 400px;
    margin-left: 100px;
    margin-right: auto;
}


#tabula_recta {
    font-family: Lucidatypewriter, monospace;
    font-size: 12px;
}

.h_row {
    color: Blue;
}

.h_column {
    color: Red;
}