body {
    font-family: Cambria, Georgia, serif;
}

.h1_header {
    margin-left: 140px;
    font-size: 24pt;
    font-weight:bold;
    height: 50px;
}

#holder {
    border: solid 1px #000;
    width: 400px;
    margin-left: 100px;
    margin-right: auto;
}

#wheelinfo {
    margin-top: 20px;
    height: 40px;
    width: 400px;
    margin-left: 100px;
    margin-right: auto;
    text-align: center;
}

#chars_outer, #chars_inner {
    border: solid 1px #000;
    width: 600px;
    margin-left: 20px;
    margin-right: auto;
}