#holder {
  border: solid 1px #000;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

#wheelinfo {
  text-align: center;
}

#chars_outer, #chars_inner {
    border: solid 1px #000;
    width:600px;
    margin-left: auto;
    margin-right: auto;
}